$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;

// background 
$background_color_light: rgb(244, 244, 244);
$background_color_city: #e0dfdf;
$background_color_dark: #d1cfcf;

//font

$font_color_dark_grey: #747373;