//for the landing page images
@mixin bg-img-accueil {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
    border-radius: 20px 20px 0 0;
}


//for the menu page images
@mixin bg-img-menu {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100vw;

}

@mixin bg-responsive-img-menu {
    width: 70%;
    margin: auto;
    border-radius: 73% 37% 75% 51% / 83% 47% 74% 50%;
}