//import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


//import Base  Reset & Normalize & Body
@import "base/normalize";
@import "base/reset";
@import "base/body";

//import colors, mixins and variables
@import "abstracts/colors";
@import "abstracts/mixins";
@import "abstracts/variables";

//import layout
@import "layout/header";


//import components
@import "components/titles";
@import "components/loader";
@import "components/buttonExplore";


//import accueil scss for all sections
@import "pages/accueil/topDiscover";
@import "pages/accueil/fonctionnementProcedure";

//font for titles : font-family: 'Shrikhand', cursive;





//body  ---- BODY CONTENT -----


.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 40px 25px;
    background-color: $background_color_dark;
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5vh;
}

.restaurants__container__restaurant {
    background: white;
    border-radius: 25px 25px 0 0;
    img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }
}




