//import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Shrikhand&display=swap');


//import Base  Reset & Normalize & Body
@import "base/normalize";
@import "base/reset";
@import "base/body";

//import colors, mixins and variables
@import "abstracts/colors";
@import "abstracts/mixins";
@import "abstracts/variables";

//import layout
@import "layout/headerMenus";
@import "layout/footer";


//import components
@import "components/titles";
@import "components/loader";
@import "components/buttonExplore";


//import the menu template page
// @import "./pages/restaurant/menu.scss";


// Template for the 4 Menu pages

body {
    position: relative;
}
.container-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
main {
    background: #f5f1f1;
    // height: 177vh;
    // height: 1185px;

}

.menu__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__contenu {
    // position: absolute;
    // top: 79%;
    // left: 0%;
    // width: 100%;
    background: #f5f1f1;
    padding: 20px 15px 40px 15px;
    border-radius: 25px 25px 0px 0px;
    // transform: translateY(-5%);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.menu__contenu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
    }

    button {
        position: relative;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        overflow: visible;
        background: none;
        transform: translateX(-25%);

        &:hover {
            .heart-first::after {
                animation: fillHeart 1s linear 1;
            }
        }

    }
}

.heart-first {

    font-size: 1em;

}

.heart-first::after {
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 30%;
    height: 0%;
    overflow: hidden;
    background: -webkit-linear-gradient($primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes fillHeart {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


// 1/3 of the menu : ENTREES section

.menu__contenu__dish {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3vh;




}

.title-after {
    font-size: 1.3em;
    color: rgb(71, 71, 71);
    font-weight: 100;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 100%;
        height: 3px;
        width: 12%;
        background: $tertiary_color;

    }
}

//the entrée card


.menu__contenu__items {
    height: 100%;
    display: flex;
    // background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px $background_color_dark;
    // padding: 10px;

    &:hover {
        .items__checkbox {
            animation: checkSlide 1s ease-in-out 1;
        }

        .items__checkbox i {
            animation: rotateIcon 1s ease-in-out 1;

        }
    }
}

@keyframes checkSlide {
    0% {
        width: 0;

    }

    100% {
        width: 25%;

    }
}

@keyframes rotateIcon {
    0% {
        margin-left: 5vh;

    }


    100% {
        transform: rotate(360deg);
        margin-left: none;


    }
}


.items__titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 10px;
   

    h3 {
        font-size: 150%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 110%;
    }
}

.items__price {
    display: flex;
    align-items: flex-end;
    // 
    padding: 15px 20px;

}

.items__checkbox {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background: $tertiary_color;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    padding: 0;

    i {
        font-size: 1.5em;
        color: white;
        transition: all 1s ease-in-out;
        // transform: rotate(120deg);
    }
}


// .menu__contenu__dish__container {
//     display: flex;
//     background: white;
//     border-radius: 15px;
//     overflow: hidden;
//     box-shadow: 0px 2px 5px 1px $background_color_dark;


//     }

// }



// .menu__contenu__dish__box {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 0%;
//     background: $tertiary_color;
//     overflow: hidden;
//     transition: all 1s ease-in-out;
//     position: relative;
//     z-index: 1;
//     i {
//         font-size: 1.5em;
//         color: white;
//         transition: all 1s ease-in-out;
//         // transform: rotate(120deg);
//     }
// }


// .menu__contenu__dish__items {
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//     width: calc(100%);
//     padding: 10px 10px;


//     h3 {
//         font-size: 1.3em;
//     }
// }

// .menu__contenu__dish__items__description {
//     display: flex;
//     justify-content: space-between;
//     font-size: 1.1em;
// }


// .menu__contenu__dish__items__description__sub {
//     font-size: 1em;
//     font-weight: 100;


// }

// .menu__contenu__dish__items__description__price {
//     font-weight: 700;
//     transform: translateX(-50%);
// }



//bouton

.discover-banner__button {
    width: 55%;
    margin: 0 auto;
}


//footer


footer {
    // margin-top: -6vh;
    
}