//HEADER ------
.logo {
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    img {
        width: 40%;
        height: auto;
    }
    @media all and (min-width: 768px) {
        padding-bottom: 25px;
        img {
            width: 60%;
        }
    }
        
    }
