//header for all menu pages
.logo {
    position: relative;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        width: 40%;
        height: auto;
        margin: 0 auto;
    }
    .logo__arrow {
        position: absolute;
        top: 40%;
        left: 5%;
        font-size: 1.4em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    //responsive
    @media all and (min-width: 768px) {
        padding-bottom: 25px;
        img {
            width: 50%;
        }
    }

    @media all and (min-width: 992px) {
        
        img {
            width: 30%;
        }
    }   
}