
//the violet and pink button and both pages 

.discover-banner__button {
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 2px $background_color_dark;
    color: white;
    background: linear-gradient(to bottom right, $primary_color, $secondary_color);  
    border: none;
    transition: all 0.5s linear;
    cursor: pointer;

    //the text inside the button
    span {
        font-size: 1.2em;
        font-weight: 500;
        text-shadow: 0px 0px 10px grey;
    }
    &:hover {
        box-shadow: 2px 2px 8px 4px $font_color_dark_grey;
        background: linear-gradient(to bottom right, #9256dcd5, #ff79d9ce);
        transform: scale(1.02);
    }

    //responsive
    @media all and (min-width: 768px) {
        padding: 20px;
        font-size: 0.9em;
     }
     @media all and (min-width: 992px) {
        margin-top: 2vh;
        width: 50%;
    }
}