//   LOADER //

.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    // height: 100vh;
    width: 0;
    height: 0;
    font-size: 1000%;
    z-index: 3;
    animation: backgroundDisappear 3s 1 linear;

    i {
        animation: spin 2s 1 linear;
        opacity: 0;
        color: $primary_color;
    }
}


