// Template for the 4 Menu pages


//the container (minus HEADER & FOOTER)
main {
    background: #f5f1f1;

    @media all and (min-width: 1440px) {}
}

//everything under the menu photo
.menu__contenu {
    width: 100%;
    background: #f5f1f1;
    padding: 25px 15px 3vh 15px;
    border-radius: 55px 55px 0px 0px;
    transform: translateY(-5%);
    display: flex;
    flex-direction: column;
    gap: 15px;

    // responsive for this class
    @media all and (min-width: 768px) {
        border-radius: 100px 100px 0px 0px;
    }

    @media all and (min-width: 1440px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        border-radius: 45px 45px 0px 0px;
        margin-bottom: 20px;
    }
}

//title of the menu
.menu__contenu__title {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    font-size: 1.2em;


    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
    }

    .menu__contenu__dish__items__description__sub {
        font-size: 1.5em;
    }

    //the heart button
    button {
        position: relative;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        overflow: hidden;
        background: none;
        transform: translateX(-25%) translateY(7%);

        //animation filling the heart
        &:hover {
            .heart-first::after {
                height: 100%;
                transform: none;
                left: 0;
                top: 0;
            }
        }
    }


    // responsive for this class
    @media all and (min-width: 768px) {
        width: 80%;
        margin: auto;
    }

    @media all and (min-width: 1440px) {
        justify-content: center;
        gap: 5vw;


    }
}

//coeurs superposés
.heart-first {
    font-size: 1em;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.heart-first::after {
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;

    height: 0%;
    top: -0.3vh;
    transform-origin: 10px bottom;
    transform: scale(0);
    overflow: hidden;
    height: fit-content;
    background: -webkit-linear-gradient($primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 1.4s ease-in-out;

    
    @media all and (min-width: 768px) {
        left: 1.1vw;
        top: -0.5vh;
    }
    @media all and (min-width: 1440px) {
        left: 0.7vw;
        top: -0.5vh;
    }


}




// The container for each side of the menu ENTREES // PLAT // DESSERT

.menu__contenu__dish {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3vh;

    @media all and (min-width: 768px) {
        gap: 20px;
    }

    @media all and (min-width: 1440px) {
        font-size: 0.8em;
        margin-top: 0px;
        width: 32%;

    }
}


//The title for each side of the menu
.title-after {
    font-size: 1.3em;
    color: rgb(71, 71, 71);
    font-weight: 100;
    position: relative;

    //the green underline at the bottom of the title
    &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 100%;
        height: 3px;
        width: 12%;
        background: $tertiary_color;

    }

    //responsive for this class
    @media all and (min-width: 768px) {
        font-size: 1.5em;
        margin: auto;
        margin-bottom: 3vh;

        &::after {
            width: 10vw;
        }
    }

    @media all and (min-width: 1440px) {

        &::after {
            width: 4vw;
        }
    }

}


//The entrée-plat-dessert card
.menu__contenu__items {
    height: 100%;
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px $background_color_dark;

    //to center the checkbox icons
    .items__checkbox i {
        margin-left: 5vh;
    }

    &:hover {

        //gives the checkbox a width (original width is 0%, see bellow), so that it appears on the screen
        .items__checkbox {
            width: 19%;
        }

        .items__checkbox i {
            //the rotate animation of the checkbox
            transform: rotate(720deg);
            //cancel the checkbox margin
            margin-left: 0;

        }
    }

    //responsive for this class
    @media all and (min-width: 768px) {
        width: 85%;
        margin: auto;
    }
}


//left part of the card, only the two texts
.items__titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    //flex 1 so that all the free space is used by this class
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 10px;

    //the title of the dish
    h3 {
        font-size: 140%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    //the subtitle of the dish
    p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 110%;

    }

    //responsive for this class
    @media all and (min-width: 768px) {

        //only for "délice des sens", it does not break the line for tablet and desktop resolution // "de Provence"
        br {
            display: none;
        }

        p {
            font-size: 100%;
            font-weight: lighter;
        }
    }

    @media all and (min-width: 1440px) {
        padding: 20px;
    }
}

//price of the dish
.items__price {
    font-size: 120%;
    display: flex;
    align-items: flex-end;
    font-weight: 800;
    padding: 15px 20px;

    @media all and (min-width: 1440px) {
        padding: 20px;
    }
}

//the checkbox div that is hidden originally (width to 0%)
.items__checkbox {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background: $tertiary_color;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    padding: 0;
    font-size: 130%;


    i {
        font-size: 1.5em;
        color: white;
        transition: all 1s ease-in-out;
    }
}




//OTHER PAGES MODIFICATIONS



//bouton - increases its width

.discover-banner__button {
    width: 55%;
    margin: 15px auto;
}


//footer


footer {
    margin-top: -5vh;

}