// Template for the 4 Menu pages



main {
    background: #f5f1f1; 
}


.menu__contenu {
    width: 100%;
    background: #f5f1f1;
    padding: 20px 15px 3vh 15px;
    border-radius: 25px 25px 0px 0px;
    transform: translateY(-5%);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.menu__contenu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
    }

    button {
        position: relative;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        overflow: visible;
        background: none;
        transform: translateX(-25%);

        &:hover {
            .heart-first::after {
                animation: fillHeart 1s linear 1;
            }
        }

    }
}

.heart-first {

    font-size: 1em;

}

.heart-first::after {
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 30%;
    height: 0%;
    overflow: hidden;
    background: -webkit-linear-gradient($primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}




// Menu list and dishes  ENTREES PLAT DESSERT

.menu__contenu__dish {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3vh;

}

.title-after {
    font-size: 1.3em;
    color: rgb(71, 71, 71);
    font-weight: 100;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0%;
        top: 100%;
        height: 3px;
        width: 12%;
        background: $tertiary_color;

    }
}


//The entrée-plat-dessert card


.menu__contenu__items {
    height: 100%;
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px $background_color_dark;

    &:hover {
        .items__checkbox {
            animation: checkSlide 1s ease-in-out 1;
        }

        .items__checkbox i {
            animation: rotateIcon 1s ease-in-out 1;

        }
    }
}



.items__titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 10px;
   

    h3 {
        font-size: 140%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 110%;
    }
}

.items__price {
    font-size: 120%;
    display: flex;
    align-items: flex-end;
    font-weight: 800;
    padding: 15px 20px;
}

.items__checkbox {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background: $tertiary_color;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    padding: 0;
    font-size: 130%;

    i {
        font-size: 1.5em;
        color: white;
        transition: all 1s ease-in-out;
        // transform: rotate(120deg);
    }
}




//OTHER PAGES MODIFICATIONS



//bouton

.discover-banner__button {
    width: 55%;
    margin: 15px auto;
}


//footer


footer {
    margin-top: -5vh;
    
}