.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 40px 25px;
    padding: 40px 25px 50px 25px;
    background-color: $background_color_light;
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5vh;
}

.restaurants__container__restaurant {
    background: white;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    box-shadow: 0px 2px 5px 1px $background_color_dark;


    img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}

.nouveau-card {
    position: absolute;
    top: 10%;
    left: 75%;
    background: $tertiary_color;
    color: #107a5f;
    font-weight: 800;
    padding: 5px 10px;
}

.restaurants__container__restaurant__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    font-size: 1.1em;
}

.restaurants__container__restaurant__description__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurants__container__restaurant__description button {
    position: relative;
    cursor: pointer;
    height: 4.3vh;
    width: 5vh;
    font-size: 1.5em;
    border: none;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


&:hover {
    .heart-first::after {
        animation: fillHeart 1s linear 1;
    }
}

}

.heart-first {
    display: inline-block;
    position: relative;
    font-size: 1em;
}

.heart-first::after {
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    overflow: hidden;
    background: -webkit-linear-gradient($primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    background-clip: text;
}

@keyframes fillHeart {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}




