.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 40px 25px 50px 25px;
    background-color: $background_color_light;
    @media all and (min-width: 768px) {
        
        width: 100%;
        margin: auto;
        gap: 6vh;
        margin-bottom: 50px;
        h2 {
            margin: auto;
            font-size: 1.5em;
        }
     }
     @media all and (min-width: 992px) {
    h2 {
        font-size: 1.15em;
    } 
    }
     @media all and (min-width: 1440px) {
        padding:  15px 40px 8vh 40px;
        gap: 3vh;
        h2 {
            font-size: 1.15em;
        }
     }
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5vh;
    @media all and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
     }
     @media all and (min-width: 1440px) {
        flex-wrap: nowrap;
        gap: 2vw;
        font-size: 0.8em;
    
     }
     
}

.restaurants__container__restaurant {
    background: white;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    box-shadow: 0px 2px 5px 1px $background_color_dark;
    @media all and (min-width: 768px) {
      width: 47%;
      font-size: 0.85em;
     }
    
}



.nouveau-card {
    position: absolute;
    top: 10%;
    left: 75%;
    background: $tertiary_color;
    color: #107a5f;
    font-weight: 800;
    padding: 5px 10px;
    @media all and (min-width: 768px) {
        left: 65%;
    }
        
    }


.restaurants__container__restaurant__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    font-size: 1.1em;
    

}

.restaurants__container__restaurant__description__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurants__container__restaurant button {
    position: absolute;
    top: 80%;
    left: 85%;
    cursor: pointer;
    height: 4.3vh;
    width: 5vh;
    font-size: 1.5em;
    border: none;
    overflow: visible;
    background: none;
    


    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


&:hover {
    .heart-first::after {
        // animation: fillHeart 1s linear 1;
        height: 100%;
    }
}

}

.heart-first {
    display: inline-block;
    position: relative;
    font-size: 1em;
}

.heart-first::after {
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    overflow: hidden;
    background: -webkit-linear-gradient($primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    background-clip: text;
    transition: all 2s ease-in-out;
}




//restaurant background images

.restaurant__bg--palette {
    background: url("../../../images/restaurants/palette-gout.jpg");
    background-position: top 90% left 50%;
    @include bg-img-accueil;

}

.restaurant__bg--enchantee {
    background: url("../../../images/restaurants/note-enchantee.jpg");
    background-position: top 60% left 50%;
    @include bg-img-accueil;
}

.restaurant__bg--francaise {
    background: url("../../../images/restaurants/la-francaise.jpg");
    background-position: top 100% left 50%;
   @include bg-img-accueil;
}

.restaurant__bg--delice {
    background: url("../../../images/restaurants/delice-sens.jpg");
    background-position: top 100% left 50%;
    @include bg-img-accueil;
}