// CITY LOCATION ------ Paris, Belleville
.city-location {
    background: $background_color_city;
    color: rgb(71, 71, 71);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11vw;
    font-size: 1em;
    font-weight: 100; 
    h3 {
        transform: translateX(-25%);
    }


    //responsive for city location
    @media all and (min-width: 768px) {
       font-size: 0.9em;
    }

    @media all and (min-width: 992px) {
        font-size: 0.75em;
        gap: 5vw;
        width: 30%;
        margin: auto;
        border-radius: 30px;
        padding: 15px;
        
    }
        
    }


// DISCOVER BANNER ------
.discover-banner {
    background: $background_color_light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 55px;
    h2, h3, span {
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
        font-weight: 300;
        color: $font_color_dark_grey;
    }

    //responsive for discover banner
    @media all and (min-width: 768px) {
        gap: 30px;
        padding-bottom: 50px;
        padding: 30px 10px 40px 10px;
        h2 {
            font-size: 1.5em;
            font-weight: 900;  
        }
        br {
            display: none;
        }
        h3 {
            font-size: 1.2em;
        }
     }
     @media all and (min-width: 992px) {
        gap: 0.5vh;
        padding: 30px 0px 30px 0px;
        font-size: 0.8em;
        width: 70%;
        margin: 3vh auto auto auto;
        border-radius: 25px;
    }
}